.backgrond{
    height: 596px;
    background-image: url(../../../assets/anzuelo.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
.container{
    position: relative;
    top: 2px;
    left: 40px;
    width: 550px;
    height: 593px;
    background-color: rgb(22, 22, 22);
}
.titulo{
    color: white;
    text-align: center;
}
.imagen{
    height: 150px;
    margin:auto;
    display:block;
}
.boton{
    text-align: center;
}

#logo{
    position: relative;
    top: 30px;
    width: 320px;
    height: 200px;
}
#columnas{
    position: relative;
    top: 40px;
}

#inicio{
    position: relative;
    top: 20px;
    align-content: flex-end;
    color: beige;
}
.col{
    color: beige;
}
.form-label{
    color:beige;
}
#botones{
    position: relative;
    top: 0.2px;
}
