h1{
  margin-bottom: 40px;
  text-align: center;
}
.container{
  text-align: center;
  align-content: center;
  align-items: center;
}
.background{
  height: 596px;
  background-image: url(../../../assets/vaca.png);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
